<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yum Eat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./images/favicon.ico" rel="icon" type="image/ico" />
    <meta name="description" content="Restaurant App" />
  </head>
  <body>
    <!-- Navigasi -->
    <app-nav></app-nav>
    <!-- Akhir Navigasi -->

    <!-- Content -->
    <main>
      <div class="hamburger-wrapper">
        <button id="hamburger" href="#">☰</button>
        <div class="mobile-logo-wrapper">
          <img class="mobile-logo" src="./images/logo.png" alt="logo-yum-eat" />
        </div>
      </div>
      <img src="./images/heros/hero-image_2.jpg" width="100%" alt="">
    </main>
    <!-- <div id="body-content"></div> -->
    <!-- Akhir Content -->

    <!-- Footer -->
    <!-- <div id="footer">
      <app-footer></app-footer>
    </div> -->

    <!-- Akhir Footer -->
  </body>
</html>