<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Yum Eat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./images/favicon.ico" rel="icon" type="image/ico" />
    <meta name="description" content="Restaurant App" />
  </head>
  <body>
    <!-- Navigasi -->
    <app-nav></app-nav>
    <!-- Akhir Navigasi -->

    <!-- Content -->
    <main>
      <!-- <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">Let's Grab A Bite To Eat</h1>
            <p class="hero__tagline">Yum Eat Provide You All The Best Restaurant with the Yummy Food</p>
        </div>
      </div> -->
    </main>
    <!-- <div id="body-content"></div> -->
    <!-- Akhir Content -->

    <!-- Footer -->
    <!-- <div id="footer">
      <app-footer></app-footer>
    </div> -->

    <!-- Akhir Footer -->
  </body>
</html>